<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ngadonis</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="ngadonis/favicon.ico">
  
</head>
<body>
  <app-root></app-root>
{{script('ngadonis/runtime.js')}}
{{script('ngadonis/polyfills.js')}}
{{script('ngadonis/styles.js')}}
{{script('ngadonis/vendor.js')}}
{{script('ngadonis/main.js')}}





</body>
</html>
