<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  
</head>
<body>
  
  
    <hr>
         
            <form action="/apiImg" name="form" enctype="multipart/form-data">
              <input type="text" name="name" required/>
              <input type="file" name="file" required/>
              <input type="submit">
            </form>
      
    <hr>
    <ul id="ul"></ul>
         
    <script>
        
        let form = document.forms.form;
        let ul = document.getElementById('ul');
        
        form.addEventListener("submit",(e)=>{
          e.preventDefault();
          const formData = new FormData(form);
          fetch("/apiImg",{
            method: 'post',
            body:formData
          }).then(res=>{
            console.log(res);
            GetMusic()
            })
        })

        function GetMusic(){
          ul.innerHTML = '';
          fetch('/getMusic')
            .then(res=>res=res.json())
            .then(res=>{
              
              let musics = res['music'];
              console.log(musics);
              musics.forEach((m)=>{
                console.log(m);
                 ul.innerHTML += 
                  '<li>'+
                    '<h5>'+m.name+'</h5>'+
                    '<audio controls>'+
                      '<source src=" '+ m.path +' " type="audio/ogg; codecs=vorbis">'
                    +'</audio>'
                  +'</li>';
              })
            })
        }
        GetMusic()
        

    </script>
</body>
</html>

